.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  justify-content: center;
}

.head {
  font-size: 2em;
  margin: 2em;
}

.definition {
  word-wrap: break-word;
}

form {
  overflow: hidden;
}

input {
  margin: 0.75em;
}

.answer-space {
  margin-top: 0.75em;
  font-size: 1.5em;
}

.answer {
  margin-top: 1em;
}
